* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    line-height: 1.5;
}

body.lightsteelblue {
    background:rgb(168, 191, 223);
}

body.azure {
    background:rgb(194, 214, 160) ;
}
body.MediumOrchid {
    background:rgb(236, 193, 246);
}
body.darkkhaki {
    background:rgb(231, 225, 141);
}
body.mypurple {
    background:rgb(168, 168, 248);
}
body.sandybrown {
    background:rgb(246, 187, 134);
}
body.bisque {
    background:bisque;
}
header {
    background:azure;
    height: auto;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid cyan;
}

#logo {
    width: 150px;
    float: left;
    margin-bottom: 10px;
}

.inner-header  {
    width: 940px;
    margin: 0 auto;
    background: cyan;
    
}

.active {
    color:red;
    font-weight: bold;
}

div a {
    
    text-decoration: none;
}


nav li {
    float: left;
    margin-left: 25px;
    list-style-type: none;

}

nav a {
    text-decoration: none;
}

nav ul {

    float: right;
}

form {
    max-width: 300px;
    margin: 0 auto 20px auto;
}

fieldset {
    padding:10px;
}
label {
    display: block;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    height:30px;
    margin-bottom:10px;
}

#wrapper {
    width:940px;
    margin:0 auto;
    
}
main {
    width: 580px;
    float: left;
    margin-bottom: 20px;
    
}
aside {
    float: right;
    width: 300px;
    font-size: x-small;
}

footer {
    height: 50px;
    line-height: 50px;
    clear: both;
}

footer li {
    float: left;
    margin-right: 30px;
     
    list-style-type: none;
    
}

.error {
    color:red;
    font-style: italic;
    font-size: .9em;
    margin: 8px;

}
.welcome-logout {
    position: absolute;
    top:10px;
    right:10px;
    border:1px solid red;
    padding:10px;
    background-color: orange;
}

.success {
    position: absolute;
    top:10px;
    left:10px;
    border:1px solid red;
    padding:10px;
    background-color: yellow;
}
.center {
    text-align: center;
}

form {
    max-width: 580px; 
    margin: 20px auto;
    
}


fieldset {
    
    padding: 10px;
    }
    
label {
        display: block;
        margin-bottom: 10px;
    }
.err {

        display: block;
        color: #f00;
        font-style:italic;
        
        }

form ul{
    list-style-type: none;
    margin-bottom: 10px;
}

input, select, textarea {

    margin-bottom: 10px;
    
}

 li a {
text-decoration: none;  
}

.list {
    list-style-type: none;
    
}

.screenshot{
max-width: 80%;
height: auto;
}

p{
margin-bottom: 20px;
}

h1 {
    color: tomato;
}
.flex-container {
    display: flex;
}
.flex-box {
    margin: 10px;
    padding: 5px;
    font-size: 12px;
    border: 1px solid rgb(250, 118, 94);
}