* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body.lightsteelblue {
    background:lightsteelblue;
}

body.azure {
    background:azure;
}
body.MediumOrchid {
    background:MediumOrchid;
}
body.darkkhaki {
    background:darkkhaki;
}
body.mypurple {
    background:rgb(163, 163, 250);
}
body.sandybrown {
    background:sandybrown;
}
body.bisque {
    background:bisque;
}

form {
    max-width: 500px;
    margin: 0 auto 20px auto;
}

fieldset {
    padding:10px;
}
label {
    display: block;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    height:30px;
    margin-bottom:10px;
}

#wrapper {
    width:940px;
    margin:0 auto;
}
main {
    width: 580px;
    float: left
}
aside {
    float: right;
    width: 340px;
}

footer {
    height: 50px;
    line-height: 50px;
    clear: both;
    
}

footer li {
    float: left;
    margin-right: 30px;
     
    list-style-type: none;
    
}

.error {
    color:red;
    font-style: italic;
    font-size: .9em;
    margin: 8px;

}
.welcome-logout {
    position: absolute;
    top:10px;
    right:10px;
    border:1px solid red;
    padding:10px;
}

.success {
    position: absolute;
    top:10px;
    left:10px;
    border:1px solid red;
    padding:10px;
}
.center {
    text-align: center;
}